/*you jsut take all of this and reorganise it */



@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "Boots And Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}



body {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100%;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}



html {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  overflow-y: scroll;
 


}


h1,
h2,
.logo {
  font-family: var(--text-heading), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.product-list h2 {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
}


/* HEADER AND FOOTER - NAV START*/

.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin: 10px;
}


a.logo {
  width: 300px;

  font-size: 30px;


position: absolute;
  top: 0;


  
}

/*since we're experiencing flext items that adapt and move with the user, we just haave to set a certain width to give these room to breathe, liek with our a.logo*/
/*<a href="index.html" class="logo">Guitar Kings</a>  === a.logo*/

.topNav {
 

  text-align: right;
  width: 90%;
  position: absolute;
  top:0;
 




}
header, footer {
    background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5vh;

}

header {
  display: absolute;
  background-image: url("../1backgroundImage/cryptoBackground.jpg");
background-size: cover;  /*important so it covers the header*/
height: 40vh;
width: 100vw;

}

nav {
  position: absolute
  ;
  text-align: right;
  margin-left: 25px;
  display: none;

  top: 45px;
  /*background: var(--color-header-footer);  this removes the background-color we've set*/
  z-index: 1000;
  right: 0px;

 /* this is it, checked on footer hyptothessi; to the right, need a bigger nax box for it to place itself ot the furthes  right, the relative right nav box*/
  
  
  /* the nav lives on it's own, it only accounts for the three home guitars and contact*/
  
}


nav ul {
  

  padding: 0px;
  word-spacing: 50px;
 
  

}

nav li {
 
  padding: 20px 30px;
  text-align: right;
  margin-right: 20px;

  /*the nad need to be wider for it to send anything to thhe right*/
  
}


ul {
  text-align: right;
  margin-right: 2rem;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}



header,
footer {
 
  color: #fff;
  
}



footer {
  overflow-x: hidden;
  text-align: center;
  padding: 20px;
 /*I have now made the footer stay on the bottom, outside fo the viewport when the page needs spcae, it holds it's own opsition beutfyÆ*/
}


/* HEADER AND FOOTER - NAV STOP*/



main {

  height: inherit;

  width: 100%;
  display: table;  /*this made it all functionnnnn footer, body expandable customizeddd*/
  display: table;  /*this made it all functionnnnn footer, body expandable customizeddd*/
 
  
}



.blogPosts {
-webkit-column-gap: 30px;
-moz-column-gap: 30px;
  column-count: 2;
  margin-top: 20px;
  display: flexbox;
  margin: 0 auto;
  align-content: center;
  column-gap: 100px;
  width: 70vw;


}

.blogPostContainer {
  overflow-x: hidden;
 width: 70vw;


}

.blogPostsContainer {


  width: 100vw;
}



a {
 text-decoration: none; /*this made the underlines go away on the a links*/
  text-align: center;
}

img {
/*all is now centered due to display flex with margin: 0 auto; on the img, on the text we used text-align: center;*/
  display: flex;
  margin: 
  0 auto;
 
 
}


a.blogPosts :nth-child(1) {
  margin-top: 0;
}

/*now, all the columns are the same height, except a few differences due to some headlines stretching past two lines making the card a little taller, thank to column-count 2 and removing the default margin on the first child*/

main.container.content {

  margin-top: -400px;
}


.blogPosts {
 width: 70vw;
  height: auto;
 

}



a.blogPosts {
  width: 40vw;
   height: auto;
 
 
   background:white 50%;
   background-size: cover;
 }

.cardColour {

  display: block;

   width: 16vw;
   height: auto;
   padding: 40px;
   background:rgb(255, 0, 0) 50%;
   background-size: cover;
   border-radius: 5%;
   margin-bottom: 20vw;
   max-height: 35vw;
   min-height: 30vw;
   min-height: 40vw;
 }

 h5 {

   font-size: 3vw;
 }

 .cardColour {

  display: block;

   width: 16vw;
   height: auto;
   padding: 40px;
   background:rgb(255, 0, 0) 50%;
   background-size: cover;
   border-radius: 5%;
   margin-bottom: 20vw;
   max-height: 35vw;
   min-height: 30vw;
   min-height: 40vw;
 }

 /*important, this setup ensures equally sized boxes across all viewPorts, despite the inherit differences of different layouts*/